body{
    background:url(raindow.jpg);
    background-size:cover;
}

#btn1{
    width:55px;
}
#idh1{
    color:rgb(234, 165, 225);
    background-color:rgb(237, 100, 100);
    border-radius: 20px;
    animation:example;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(249, 252, 200);}
    to{box-shadow: 1px 1px 38px rgb(237, 190, 251);}}

canvas{
margin-top:300px;
border-radius:20px;
border-style:dotted;
box-shadow: 5px 5px 5px rgb(216, 131, 19);
}